<launch>
<arg name="path" default="/media/tb/data-sets/dickinson/low-contrast/10" />
<arg name="file" default="20161011_145821_N1_delta_video.bag"/>

<rosparam command="load" file="launch_delta_video_parameters.yaml"/>

<node name="rosbag_player" pkg="rosbag" type="play" output="screen" args="$(arg path)/$(arg file) --clock --pause --rate 4.0 --start 0.0" required="true"/>

<node name="delta_video_player" pkg="multi_tracker" type="delta_video_player.py" args="--in='/multi_tracker/1/delta_video' --out='/camera/image_raw' --directory=$(arg path)" />

<node name="image_viewer" pkg="image_view" type="image_view" args="image:=/camera/image_raw" />

</launch>
