<launch>
  <arg name="camera" default="/camera/image_raw" />
  <arg name="viewer" default="True" />
  <arg name="video_only" default="False" />
  <!-- TODO maybe rename or no_delta_video or something? -->
  <arg name="tracking_only" default="False" />

  <rosparam command="load" file="debug_flags.yaml" />
  
  <rosparam command="load" file="roi_finder.yaml" />
  <include file="$(find multi_tracker)/launch/load_tracking_parameter_yamls.launch" />
  
  <!-- TODO move / get rid of this one? -->
  <!-- maybe i want different basenames anyway? -->
  <node name="set_exp_basename" pkg="multi_tracker" type="set_basename.py" output="screen" />
    
  <include file="$(find multi_tracker)/launch/save_delta_video.launch" unless="$(arg tracking_only)">
    <arg name="wait_for_rois" value="True"/>
    <arg name="camera" value="$(arg camera)"/>
  </include>

  <!-- This will identify relevant ROIs and start instances of the single_tracking_pipeline.launch,
       with appropriate parameters. -->
  <node name="roi_finder" pkg="multi_tracker" type="roi_finder.py" output="screen" required="True">
    <remap from="/camera/image_raw" to="$(arg camera)" />
    
    <!-- TODO TODO implement -->
    <param name="video_only" value="$(arg video_only)" type="bool" />
  </node>
  
  <group if="$(arg viewer)">
    <node name="tracking_viewer" pkg="multi_tracker" type="liveviewer.py" output="screen" required="True" unless="$(arg video_only)">
        <remap from="/camera/image_raw" to="$(arg camera)" />
        
        <param name="detect_tracking_pipelines" value="True" />
        <!-- TODO also support passing through roi_* args if i'm going to continue to support 
             thos with the above flag -->
    </node>
  </group>
  
  <!-- TODO fix package here after moving this file to metatools -->
  <!-- TODO equivalent of required, but just for process to finish cleanly? -->
  <node name="snapshot_params" pkg="multi_tracker" type="snapshot_params.py" output="screen" />
</launch>
