<launch>

  <rosparam command="load" file="tracker_parameters.yaml"/>
  <rosparam command="load" file="data_association_parameters.yaml"/>
  <rosparam command="load" file="liveviewer_parameters.yaml"/>
  <rosparam command="load" file="delta_video_parameters.yaml"/>

  <!-- TODO can't always load optional yamls here because it will fail, but 
    probably still want to prevent loading things like roi_finder.yaml if
    loading dumped acquisition params... !-->

</launch>
