<launch>
  <!-- TODO reason this is a bad idea? will it be from local or package directory? -->
  <!-- TODO what will happen if these arent found? fail i hope / assume? -->
  <!-- TODO pull remote changes that nixed delta_video_config.py -->
  <rosparam command="load" file="tracker_parameters.yaml"/>
  <rosparam command="load" file="data_association_parameters.yaml"/>
  <rosparam command="load" file="liveviewer_parameters.yaml"/>
  <rosparam command="load" file="delta_video_parameters.yaml"/>
  <!-- set up src and data directories and define prefix name -->
  <rosparam command="load" file="home_directory.yaml"/>
</launch>
