<launch>
  <arg name="camera" default="camera" />
  <!-- TODO how to only set if have?
  <arg name="serial" default="" />
  -->
  <!-- test that these are recognized by camera -->
  
  <node name="$(arg camera)" pkg="pointgrey_camera_driver" type="camera_node" required="true">
    <rosparam command="load" file="pointgrey_blackfly.yaml" />
    <!--
    <remap from="camera_serial" to="$(arg serial)" />
    -->
  </node>
  
</launch>
