<launch>
  <arg name="camera" default="/camera/image_raw" />
  <arg name="video_only" default="False" />
  <arg name="tracking_only" default="False" />
  <arg name="viewer" default="True" />
  <arg name="compression" default="True" />

  <!-- TODO only load d.v. in here if video only? or break into
       something that loads delta_video and save_bag nodes? + set_basename? + snapshot_params? -->
  <include file="$(find multi_tracker)/launch/load_tracking_parameter_yamls.launch" />

  <node name="set_exp_basename" pkg="multi_tracker" type="set_basename.py" output="screen" />
  
  <!-- TODO fix package here after moving this file to metatools -->
  <!-- TODO equivalent of required, but just for process to finish cleanly? -->
  <node name="snapshot_params" pkg="multi_tracker" type="snapshot_params.py" output="screen" />
  
  <include file="$(find multi_tracker)/launch/save_delta_video.launch" unless="$(arg tracking_only)">
    <arg name="camera" value="$(arg camera)" />
    <arg name="compression" value="$(arg compression)" />
  </include>

  <!-- may later want to use pass_all_args argument -->
  <include file="$(find multi_tracker)/launch/single_tracking_pipeline.launch" unless="$(arg video_only)">
    <arg name="camera" value="$(arg camera)" />
    <arg name="viewer" value="$(arg viewer)" />
  </include>
</launch>
