<launch>

# TODO break this up like tracking, particularly if i'm going to be using this primarily
# on acquisition computer? (w/ multiple copies of this, thus benefitting from modularity)

# set up src and data directories and define prefix name
<rosparam command="load" file="home_directory.yaml"/>
<node name="set_exp_basename" pkg="multi_tracker" type="set_basename.py" output="screen" />

# load parameters for the tracking, and the data association
<rosparam command="load" file="tracker_parameters.yaml"/>

# load parameters for, process, and save, delta video bag file
<rosparam command="load" file="delta_video_parameters.yaml"/>
<node name="delta_video" pkg="multi_tracker" type="delta_video_simplebuffer.py" output="screen" />
<node name="save_delta_video" pkg="multi_tracker" type="save_bag.py" args="--config=delta_video_config.py" output="screen" />

</launch>
