<launch>

<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
	<!-- TODO appropriate framerate? check not duplicates -->
	<!-- TODO make camera_name match calibration -->

	<param name="video_device" value="/dev/video1"/>

	<!-- TODO make path generic somehow, or have other
	          scripts replace it when installing -->
	<param name="camera_info_url" value="file:///home/tom/.ros/camera_info/head_camera.yaml" />

</node>

<node name="image_proc" pkg="image_proc" type="image_proc" output="screen" ns="usb_cam" />

</launch>
