<launch>

# set up src and data directories and define prefix name
<rosparam command="load" file="home_directory.yaml"/>
# TODO move / get rid of this one?
<node name="set_exp_basename" pkg="multi_tracker" type="set_basename_and_path.py" output="screen" />

# TODO way to load these from current directory (rather than directory in which package resides)?
# load parameters for the tracking, and the data association
<rosparam command="load" file="tracker_parameters.yaml"/>
<rosparam command="load" file="data_association_parameters.yaml"/>

# load parameters for, and show live tracking
<rosparam command="load" file="liveviewer_parameters.yaml"/>

# load parameters for, process, and save, delta video bag file
<rosparam command="load" file="delta_video_parameters.yaml"/>

# may later want to use pass_all_args argument
<include file="$(find multi_tracker)/launch/single_tracking_pipeline.launch" />

</launch>
